body {
  height: 5500vh;
}
#animation_container,
#_preload_div_ {
  position: fixed;
  margin: auto;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}

#loadingoverlay{
  width:100vw;
  height:100vh;
  background:white;

  display: flex;
  justify-content: center;
  align-items: center;
  color:#000;
  flex-direction: column;
  gap:20px;
  font-size:20px;
}

@keyframes beat{
	to { transform: scale(1.2); }
}
#OverlayMusic {
  position: fixed;
  color: #fff;
  right: 30px;
  top: 30px;
  text-align: center;
  /* transform: translateX(-50%); */
  font-family: "Bebas Neue";
}
#OverlayMusic #musicname{
    font-size: 30px;
    width: 180px;
}

#OverlayMusic > button{
    background:none;
    border:none;
    color:#fff;
    transition:color .5s;
    margin-bottom:10px;
    cursor: pointer;
}
.blinking{
	animation: beat .6s infinite alternate;
}
#OverlayMusic > button:hover{
    color:#339;
}
#OverlayMusic > button > span{
    font-size:65px;
}
